<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 offset-md-4">
      <h3>Login</h3>
      <div class="alert alert-danger" role="alert" *ngIf="errorMsg">{{ errorMsg }}</div>
      <form novalidate (ngSubmit)="login()" #myFrm="ngForm">
          <div class="form-group">
            <input type="email" name="email" [ngModel]="email" placeholder="Email" class="form-control">
          </div>
          <div class="form-group">
            <input name="password" type="password" [ngModel]="password" class="form-control">
          </div>
          <button type="submit" class="btn btn-success">Login</button>
          <p>Not Registered? <a [routerLink]="['/registration']" routerLinkActive="active" >Click</a> here to register.</p>
        </form>
    </div>
  </div>
</div>
